$accent-color: #28CEB7;
$accent-color-75: #5EDAC9;

$error-color: #ff4d4d;
$error-color-75: #552F3A;

$warning-color: #ffc74d;
$warning-color-75: #ffc74d59;

$primary: #384352;

$white: #FFFFFF;
$black: #000000;
$white-50: rgba(110, 120, 137, 0.706);

$bg-main-color: #1C2534;